@using MudBlazor
@inherits LayoutComponentBase

<style>
    .mud-button {
        padding: 6px 16px;
        font-family: var(--mud-typography-button-family);
        font-size: var(--mud-typography-button-size);
        font-weight: var(--mud-typography-button-weight);
        line-height: var(--mud-typography-button-lineheight);
        letter-spacing: var(--mud-typography-button-letterspacing);
        text-transform: var(--mud-typography-button-text-transform);
        min-width: 64px;
        box-sizing: border-box;
        transition: background-color 250ms cubic-bezier(.4,0,.2,1) 0ms,box-shadow 250ms cubic-bezier(.4,0,.2,1) 0ms,border 250ms cubic-bezier(.4,0,.2,1) 0ms;
        border-radius: var(--mud-default-borderradius);
        color: #FFFDFB;
        letter-spacing: .1em;
    }

    .app-title-text {
        color: #BDC4C5;
        text-shadow: rgba(0,0,0,.01) 0 0 1px;
        font-weight: bold;
        font-size: 1.5rem;
        font-family: 'Modern Sans', Arial, sans-serif;
        text-rendering: optimizeLegibility;
        letter-spacing: .1em;
        text-transform: none;
        text-decoration: none;
    }
</style>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    @{string underConstruction = "TULEMAS";}

    <MudAppBar Elevation="0" Style="background-color: darkslategray">
        <a Class="app-title-text" Href="">STOCKER</a>
        <MudIconButton Style="visibility: hidden" />
        <MudButton Variant="Variant.Text" Href="products" StartIcon="@Icons.Material.Filled.Warehouse">Hulgilaod</MudButton>
        <MudButton Variant="Variant.Text" Href="parts" StartIcon="@Icons.Material.Filled.Hardware">Varuosad</MudButton>
        <MudBadge Icon="@Icons.Material.Outlined.AccessTime" Overlap=true Origin="Origin.TopRight" Color="Color.Warning">
            <MudButton Variant="Variant.Text" Href="service" StartIcon="@Icons.Material.Filled.SupportAgent" Disabled=true>Hooldustööd</MudButton>
        </MudBadge>
    </MudAppBar>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="my-4 pt-4">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = true;


    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}